@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.radix-themes {
  --default-font-family: 'Google Sans Flex', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --surface-1: #131313;
  --surface-1-Hovered: #1A1A1A;
  --surface-2: #1F1F1F;
  --surface-2-Hovered: #242424;
  --surface-3: rgba(255, 255, 255, 0.12);
  --surface3-Solid: #393939;
  --surface3-Hovered: rgba(255, 255, 255, 0.16);
  --surface4: rgba(255, 255, 255, 0.20);
  --surface5: rgba(0, 0, 0, 0.04);
  --surface5-Hovered: rgba(0, 0, 0, 0.06);

  --line-height: 1.25;
}